html{
font-family: Helvetica;
}
.header{
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
opacity: 1;
background-size: auto;

}
h3{
font-weight: bold;
}

brushes{
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: mediumspringgreen;

}

frames{
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: lightcoral;
}

paint{
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: skyblue;
}

.hacksaw{
font-family: Helvetica;
font-weight: bold;
color: blue;
}

.art{
font-family: Helvetica;
font-weight: bold;
color: blue;
}

.clean{
font-family: Helvetica;
font-weight: bold;
color: blue;
}
